#object files
*.o
*.dSYM/
cmd/enc
cmd/gen
cmd/nand
cmd/dec
cmd/*.o
new\ mul/test/test_mul
ring/test_mul
Benchmark/schoolbook/test/test_mul
Benchmark/trick/test/test_mul
Benchmark/vector/test/test_mul
Benchmark/lut/test/test_mul

